{% extends 'base.html' %}
{% load product_extras %}
{% load cart_extras %}

{% block content %}
    <div class="col-3 mr-5">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="Imagen del producto" width="200" height="200">
        {% endif %}
    </div>

    <div class="col">
        <div class="h3 font-weight-bold text-success">
            {{ quantity | quantity_add_format }} al carrito
        </div>
    

        <div class="">
            <a href="{% url 'products:product_detail' product.slug %}">
                {{ product.title }}
            </a>
        </div>

        <div class="font-weight-bold text-danger">
            {{ product.price | price_format }}
        </div>

        <div>
            <a href="{% url 'carts:cart' %}" class="btn btn-info mt-2">Ver carrito</a>
        </div>
        <div class="mt-2">
            <a href="{% url 'forms:index' %}" class="">Seguir comprando</a>
        </div>
    </div>
{% endblock %}